@import './mdb/mdb.pro.scss';

$my-theme-primary: #9c27b0; // theme primary color, change this value to customize theme
$my-theme-secondary: #00b49c; // theme secondary color, change this value to customize theme

$my-light-theme: mdb-light-theme(
  $my-theme-primary,
  $my-theme-secondary
); // create the new light theme using primary and secondary colors

$brand-main-color: #00b49c;

$background-main-color: #ffffff;
$main: #ffffff;
$secondary: #e2e8f0;
$inner: #f8f9fa;

$text-primary-color: #2d3748;
$text-secondary-color: #8a92a6;
$text-primary-color1: #2d3748;
$text-primary-color2: #a0aec0;
$seperator-color: #dbe0e4;
$dark-bg: #ffffff;

$card-title-color: #f38cae;
$dark-color: #f8f9fa;
$border-color-secondary: #28ccab;
$text-green: #28ccab;
$text-light: #a0aec0;
$dark-color1: #f3f4f5;
$dark-color2: #e2e8f0;
$dark-color3: #ffffff;
$dark-color4: #ffffff;
$dark-color5: #f8f9fa;
$dark-bg1: #28ccab;
$secondary-color: #ffffff;
$dark-bg2: #ffffff;
$dark-bg3: #a0aec0;
$dark-bg4: #a0b4c8;
$dark-bg5: #ffffff;
$text-light1: #718096;
$text-light2: #2d3748;
$text-light3: #718096;
$text-light6: #718096;
$dark-bg6: #eff0f1;
$text-primary-color3: #2d3748;
$dark-bg7: #ffffff;
$border-bg1: #28ccab;
$border-bg2: #e2e8f0;
$dark-bg8: #ffffff;
$text-light4: #32334a;
$dark-bg9: #f8f9fa;
$dark-bg10: #e2e8f0;
$dark-bg11: #ffffff;
$dark-bg12: #F8F9FA;
$text-light5: #2d3748;
$text-light7: #2d3748;
$text-light8: #718096;
$text-light9: #2d3748;
$text-light10: #28ccab;
$text-light11: #2d3748;
$text-light12: #718096;
$text-light13: #2D3748;
$text-light14: #718096;
$border-bg3: #DBE0E4;


@mixin connect-button {
  background: #f4faf8;
  border: 1px solid #28ccab;
  box-sizing: border-box;
  border-radius: 84px;
}
@mixin join-button {
  background: linear-gradient(89.23deg, #28ccab 39.57%, #e186b2 90.44%, #f394af 100%);
  border: none;
}
@mixin back-button {
  background: linear-gradient(89.23deg, #28ccab 39.57%, #e186b2 90.44%, #f394af 100%);
  color: rgba(255, 255, 255, 0.5);
}
@mixin connect-button {
  background: #ffffff;
  border: 1px solid #25a18c;
  color: #2d3748;
}
@mixin box-shadow {
  box-shadow: 0px 2px 10px rgba(67, 71, 80, 0.1);
}
@mixin border-light {
  border: 1px solid #e2e8f0;
}
@mixin border-light1 {
  border: 1px solid #e2e8f0;
}
@mixin box-shadow1 {
  box-shadow: none;
  border: 1px solid #e2e8f0;
}
@mixin text-shadow {
  text-shadow: none;
}
@mixin text-shadow1 {
  text-shadow: none;
}
@mixin box-shadow2 {
  box-shadow: 0px 2px 10px rgba(67, 71, 80, 0.1);
}

@mixin box-shadow3 {
  box-shadow: inset -2px -2px 8px #ffffff, inset 4px 4px 8px rgba(160, 174, 192, 0.1);
  filter: drop-shadow(4px 4px 12px rgba(166, 180, 200, 0.6)) drop-shadow(-8px -8px 10px #ffffff);
}
@mixin box-shadow4 {
  box-shadow: 0px 2px 10px rgba(67, 71, 80, 0.1);
  background: #ffffff;
}
@mixin box-shadow5 {
  box-shadow: none;
  background: #f3f4f5;
}
@mixin box-shadow6 {
  box-shadow: 0px 2px 10px rgba(67, 71, 80, 0.1);
  background: #ffffff;
}
@mixin bg-color {
  background: #ebebeb;
  border: 1px solid #e2e8f0;
}
@mixin bg-color1 {
  background: linear-gradient(180deg, rgba(218, 220, 221, 0.6) 0%, rgba(233, 234, 236, 0) 5.21%), #f3f4f5;
  border: 1px solid #e2e8f0;
}
@mixin bg-color2 {
  border: 1px solid #e2e8f0;
  background-color: #f8f9fa;
}
@mixin border1 {
  border: 1px solid #edf1f5;
}
@mixin bg-color3 {
  background-color: #f8f9fa;
  border: 1px solid #e2e8f0;
  filter: none;
  color: #718096;
}
@mixin bg-color4 {
  background: #ffffff;
  border: 1px solid #e2e8f0;
  color: #2d3748;
}
@mixin bg-color5 {
  background: #ffffff;
  border: 1px solid #e2e8f0;
}
@mixin bg-color6 {
  filter: none;
  border: 1px solid #e2e8f0;
  background: #c3c5c7;
  color: #92959b;
}
@mixin bg-color7 {
  box-shadow: none;
  background: #ffffff;
  border: 2px solid #e2e8f0;
}
@mixin bg-color8 {
  background-color: #f3f4f5 !important;
  border: none;
  border-bottom: 1px solid #e2e8f0 !important;
}
@mixin bg-color9 {
  background: linear-gradient(90deg, rgba(5, 10, 14, 0.06) 0%, rgba(5, 10, 14, 0) 100%);
}
@mixin bg-color10 {
  background: linear-gradient(90deg, rgba(5, 10, 14, 0) 0%, rgba(5, 10, 14, 0.06) 100%);
}
@mixin border2 {
  border: 1px solid #00b49c;
}
@mixin border3 {
  border: 1px solid #cbd1d8;
}
@mixin bg-color11 {
  box-shadow: none;
  background-color: transparent;
}
@mixin bg-color12 {
  background: #ffffff;
  border: 1px solid #e2e8f0;
}
@mixin bg-color13 {
  background-color: #ffffff;
  border: 1px solid #a0aab6;
  color: #2d3748;
}
@mixin bg-color14 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 90.1%);
}
@mixin bg-color15 {
  background: #F8F9FA;
border: 1px solid #EDF1F5;
}
@mixin bg-color16 {
  background: #FFFFFF;
  border: 1px solid #E2E8F0;
  color: #A0AEC0;
}
// include theme styles
:root[data-theme='theme-light'] {
  @include mdb-theme($my-light-theme);

  @import './site.scss';
}
